<h1>We are Against The Void and we make music.</h1>

<img src="../../../assets/img/against-the-void/Against The Void Foto.jpg" style="width:100%;">

<p>kontakt: against_the_void@protonmail.com</p>

<p>presskit link: <a href = "https://www.dropbox.com/sh/ic7n4jkbsc3lzb1/AACDRraT76GFeZyfaUdchF-ba?dl=0">Presskit Against The Void</a></p>
<br>
<button  class="rainbow" (click)="downloadPdf('stage-rider-against-the-void')">download stage rider</button>
<!-- <button (click)="downloadZip()">download zip</button> -->
<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/958842559&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/against_the_void" title="Against The Void" target="_blank" style="color: #cccccc; text-decoration: none;">Against The Void</a> · <a href="https://soundcloud.com/against_the_void/some-songs" title="Some Songs" target="_blank" style="color: #cccccc; text-decoration: none;">Some Songs</a></div>
